<h1>Code for <%= params[:char] %></h1>
<nav>
  <% @kanji.versions.times do |i| %>
    <a href="<%=url "/svg/#{CGI.escape(params[:char])}/#{i}" %>">Version <%= i %></a>
  <% end %>
</nav>
<h2><%= File.basename(@kanji.name(params[:version].to_i)) %></h2>
<div id="svg">
  <%= @kanji.svg_display(params[:version].to_i) %>
</div>
<button onclick='$("#svg").html($("#code").val())'>Refresh</button>
<button onclick='$("#svg").html($("#code").val().replace("width=\"109\"", "width=\"400\"").replace("height=\"109\"", "height=\"400\""))'>Refresh (Resized)</button>
<form action="<%= url request.url %>" method="post">
  <h2>SVG</h2>
  <textarea id="code" name="code" rows="30" cols="80"><%= @kanji.svg(params[:version].to_i) %></textarea>
  <h2>XML</h2>
  <textarea id="xml" name="xml" rows="30" cols="80"><%= @kanji.xml(params[:version].to_i) %></textarea><br />
  <label for="message">Commit message:</label>
  <input name="message" /><br />
  <button>Submit</button>
</form>

